body{
    background-color: #eae6e1;
}
form{
    margin: auto;
    font-family:Arial, Helvetica, sans-serif ;
    max-width: 50%;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(83, 94, 101);
    padding: 25px;
    text-align: center;
}
h1{
    color: #5b8f8f;
}
#input{
    margin: 10px;
    border-color: hsl(0, 88%, 3%);
    text-align: center;
    font-size: 100%;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
#Submit{
    margin-top: 15px;
    color: white;
    background-color: hwb(0 20% 41%);
    padding: 5px;
    cursor: pointer;
}
#Submit:hover{
    background-color: #f75a5a;
}
#out{
    font-weight: bolder;
    font-size: larger;
}
